body {
  background-color: #3e434b;
}

body img:not(.shop) {
  width: 40px;
  height: 35px;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 0 auto;
}
/* --------------------logo */
.logo {
  margin-top: 50px;
  /* background-color: lightblue; */
}
.logo > .shop {
  cursor: pointer;
}

/* -----------nav---------- */
.nav {
  display: flex;
}
.nav > ul {
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  width: 330px;
}
.nav > ul > li {
  display: flex;
  align-items: center;
  height: 40px;
}
.nav > ul > li > img {
  cursor: pointer;
  margin: 0px 5px;
}
.nav > ul > li > img:hover {
  width: 47px;
  height: 42px;
  margin: 0 1.5px;
}
.nav > ul > li > a {
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: black;
  font-size: small;
  border-radius: 5%;
  margin: 0px 5px;
}
.nav > ul > li > a:hover {
  width: 60px;
  height: 40px;
  font-weight: bold;
  margin: 0 0px;
  cursor: pointer;
  font-size: 1em;
}
.nav > ul > li > .blue {
  background-color: #54aef0;
}
.nav > ul > li > .yellow {
  background-color: #fbbf23;
}
.nav > ul > li > .pink {
  background-color: #fd7e82;
}
/* /nav  */

/* ------------------- LIST   */
.list {
  overflow: scroll;
  height: 500px;
}
.list > ul {
  padding-left: 0px;
  width: 300px;
}
.list > ul > li {
  margin-bottom: 3px;
  height: 43px;
  /* display: none; */
}
.list > ul > li div {
  background-color: whitesmoke;
  border-radius: 2%;
  display: flex;
  align-items: center;
}
.list > ul > li img {
  padding: 3px 10px;
}
/* .list > ul > img .pink .pants{

} */
.list > ul > li p {
  margin: 0px;
}

/*list > Scroll Bar */
.list::-webkit-scrollbar {
  width: 6px;
}
.list::-webkit-scrollbar-track {
  background-color: transparent;
}
.list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.list::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.list::-webkit-scrollbar-corner {
  background-color: #3e434b; /* 우측 하단의 코너 부분 */
}
/* /list */
